* {
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    width: 100%;
    background-color: #ffadad86;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.facebook {
    width: 1em;
    height: 1em;
  }

  .facebook path,
  .facebook polygon,
  .facebook rect {
    fill: #4691f6;
  }

  .facebook circle {
    stroke: #4691f6;
    stroke-width: 1;
  }

  /* -----
SVG Icons - svgicons.sparkk.fr
----- */

.icon_facebook {
    font-size: 100px;
    margin-top: 15px;
    margin-right: 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 969px;
    width: 100%;
    letter-spacing: 10px;
    text-shadow: 1px 1px 1px #000000;
}

.title {
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    color: #4691f6;
    font-weight: bold;
    text-decoration: none;
    cursor: default;
}

.title:hover {
    color: #ff70db;
    transition: 1s;
}

main a {
    text-decoration: none;
}