* {
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    width: 100%;
}

a {
    color: #000000cc;
    text-decoration: none;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.facebook {
    width: 1em;
    height: 1em;
  }

  .facebook path,
  .facebook polygon,
  .facebook rect {
    fill: #4691f6;
  }

  .facebook circle {
    stroke: #4691f6;
    stroke-width: 1;
  }

  /* -----
SVG Icons - svgicons.sparkk.fr
----- */

.icon_facebook {
    margin-top: 15px;
    margin-right: 10px;
}

header {
    height: 200px;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    letter-spacing: 10px;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 0px 0px 5px 0px #ff0000;
    background-color: #ffadad86;
}

.logo a {
    color: #4691f6;
    font-weight: bold;
    text-decoration: none;
}

.logo a:hover {
    color: #ff70db;
    transition: 2s;
}

main {
    height: 769px;
    width: 100%;
}

#rubriques {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 5px 0px #ffffff;
    background-color: #ffadadcc;
}

#rubriques ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    list-style-type: none;
}

#rubriques li {    
    background-color: #ffadad86;
    font-weight: bold;
    padding: 150px;
    border: 2px solid #ffffff8f;
    border-radius: 30px;
}

#rubriques a:hover {
    color: #ff70db;
    font-size: 25px;
    transition: 1s;
}


@media (max-width: 480px) {
    main {
        height: 623px;
        width: 100%;
    }

    #rubriques {
        height: 623px;
    }    

    #rubriques ul {
        justify-content: space-evenly;
        flex-direction: column;
    }

    #rubriques li {
        display: flex;
        justify-content: center;
        min-width: 90%;
        padding: 30px;
        margin: 5px;
    }
  }